.row{
    height: 100%;
}
.navbar-brand{
    color: aliceblue;
    margin: 15% 20% 0;
    padding-bottom: 12%;
}
.header{
    list-style-type: none;
}
li{
    margin-bottom: 28px;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 100px;
}

a:hover{
    color: rgb(128, 179, 223);

}
.col-2{
    background: rgb(22, 39, 83);
}
