html, body {
    height: 100%;
    margin: 0;
}
.row{
    height: 100vh;
    margin: 0;

}
.navbar-brand{
    color: aliceblue;
    margin: 15% 20% 0;
    padding-bottom: 12%;
}
.header{
    list-style-type: none;
}
li{
    margin-bottom: 28px;
}
a{
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 100px;
}

a:hover{
    color: rgb(128, 179, 223);

}
.col-2 {
    background: rgb(22, 39, 83);
    height: 100vh; /* Chiếm toàn bộ chiều cao màn hình */
    position: fixed; /* Giữ sidebar cố định khi cuộn trang */
}
.col {
    margin-left: 16.6667%; /* Đẩy nội dung chính sang phải, tương ứng với col-2 */
}

